*{
    box-sizing:border-box;
}


body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#ffffff;
    color:#0f172a;
}



.container{
    max-width:1200px;
    margin:auto;
    padding:40px 20px;
}



header{
    text-align:center;
    padding:60px 0;
}



h1{
    font-size:55px;
    margin-bottom:20px;
    color:#0f172a;
}



p{
    color:#475569;
    font-size:20px;
}



/* Tools Grid */

.tools{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}



/* Tool Cards */

.card{
    background:#f8fafc;
    padding:25px;
    border-radius:20px;
    border:1px solid #e2e8f0;
    transition:.3s;
}



.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}



.card a{
    color:#0f172a;
    text-decoration:none;
}



/* Buttons */

button{
    background:#6366f1;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
}



button:hover{
    background:#4f46e5;
}



/* Footer */

footer{
    text-align:center;
    padding:40px;
    color:#64748b;
}



.footer-links{
    margin-bottom:15px;
}



.footer-links a{
    color:#0f172a;
    text-decoration:none;
    margin:0 6px;
}



.footer-links a:hover{
    color:#6366f1;
}
