*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:40px 20px;
}

header{
    text-align:center;
    padding:60px 0;
}

h1{
    font-size:55px;
    margin-bottom:20px;
}

p{
    color:#cbd5e1;
    font-size:20px;
}

.tools{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:20px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card a{
    color:white;
    text-decoration:none;
}

button{
    background:#6366f1;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
}

footer{
    text-align:center;
    padding:40px;
    color:#94a3b8;
}
